<div class="card shadow bg-primary bg-gradient">
    <div class="card-body">
        <EditForm Model="About" OnSubmit="UpdateAbout" FormName=@($"about{About.Id}")>
        <div class="card shadow p-3">
            <div class="name m-2">
                <label>
                    Name:
                    <InputText @bind-Value="About.FirstName" class="me-3" />
                    <InputText @bind-Value="About.LastName" />
                </label>
            </div>
            <div class="middlenames m-2">
                <lable>
                    Middle Names (put them all in the field):
                    <InputText @bind-Value=About.MiddleNames/>
                </lable>
            </div>
            <div class="date-img m-2">
                <label>
                    Birthdate:
                    <InputDate @bind-Value="About.BirthDate"/>
                    Image url:
                    <InputText @bind-Value="About.ImageUri" />
                </label>
            </div>
            <div class="description">
                <label>
                    Description: 
                    <InputTextArea @bind-Value="About.Description"/>
                </label>
            </div>
            <button class="btn btn-primary mt-4" type="submit">Update</button>
        </div>
        </EditForm>
        <div class="language-interessts card p-3 shadow mt-2 d-flex flex-column justify-content-between">
            <label>
                Languages:
                <div class="display-languages  d-flex flex-row justify-content-start mt-2">
                    @foreach (var language in About.Languages)
                    {
                        <div class="language language-@language.Id me-2" @onclick="() => DeleteLanguage(language.Id)">
                            <p class="border border-danger rounded-2 p-2">@language.Name</p>
                        </div>
                    }
                    @*TODO:Make a better designe for this*@
                    <EditForm Model="CreateLanguageModel" OnSubmit="CreateLanguage" FormName="NewLang">
                        <InputText @bind-Value="CreateLanguageModel.Name"/>
                    </EditForm>
                </div>
            </label>
            <label>
                Interests:
                <div class="display-interests d-flex flex-row">
                        @foreach (var interests in About.Interests)
                        {
                            <div class="interest interest-@interests.Id me-2" @onclick="() => DeleteInterest(interests.Id)">
                                <p class="border border-danger rounded-2 p-2">@interests.Name</p>
                            </div>
                        }
                    <EditForm Model="CreateInterestModel" OnSubmit="CreateInterest" FormName="NewLang">
                        <InputText @bind-Value="CreateInterestModel.Name" />
                    </EditForm>
                </div>
            </label>
        </div>
    </div>
</div>