$phone-breakpoint : 720px;
$desktop-breakpoint : 721px;
.root{
    padding: 20px;
    background-color: darkorchid;
    border-radius: 25px;

    @media (min-width: $desktop-breakpoint) {
        min-height: 500px;
        margin: 15px 100px;
    }
    
    @media (max-width: $phone-breakpoint) {
        min-height: none;
        margin: 25px;
    }

}