@import "./variable.scss";
.root{

    .header-main-relation{

        padding: 5px 10px;
        display: flex;
        flex-direction: row;

        //TODO: Make header responsive later
        header{
            position: sticky;
        }
        
        main{
            margin-inline: auto;
            align-self: center;
            justify-self: start;
        }
    }

    footer{
        bottom: 0;
        width: 100%;
        position: fixed;
    }
    @media (min-width: $desktop-breakpoint) {
    }

    @media (max-width: $phone-breakpoint) {
    }
    
}