@page "/"
@using AdminPanel.Frontend.Components.About

<PageTitle>Edit About</PageTitle>

@if(abouts.Count < 1)
{
    <p>No data</p>
}
else
{
    <div class="abouts p-5 d-flex flex-column justify-content-center">
    @foreach (var about in abouts)
    {
    <AboutCard About=about/>   
    }
    </div>
}

